[Unit]
Description=GNOME PolicyKit authentication agent
Documentation=man:polkit(8)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
